<div class="repo">
  <div class="upper-tag d-flex justify-content-between px-2 my-1">
    <p>Popular repositories</p>
    <p>Customize your pins</p>
  </div>
  <div class="grid">
    <ol
      class="repo"
      *ngFor="
        let data of mapArray
          | paginate
            : {
                itemsPerPage: 6,
                currentPage: page,
                totalItems: totalrecords
              }
      "
    >
      <ul class="repositories p-3">
        <div class="detail d-flex justify-content-between">
          <a href="#">{{ data.name }}</a>

          <a class="visibility p-1" href="">{{ data.visibility }}</a>
        </div>
        <p>{{ data.description }}</p>
      </ul>
    </ol>
  </div>
  <div class="pagination">
    <pagination-controls
      class="pagi"
      (pageChange)="gty((page = $event))"
    ></pagination-controls>
  </div>

  <app-graph></app-graph>
</div>
