.head {
  display: flex;
  justify-content: space-between;
  padding: 0 1% 0 1%;
}
button {
  background: transparent;
  border: none;
  font-size: 14px;
}

.details {
  padding: 6%;
}
.underline {
  border-bottom: 0.5px solid #d2d3d5;
}
a {
  color: #57606a;
  text-decoration: none;
  font-size: 12px;
}
.width-full {
  display: flex;
  justify-content: space-between;
}
.ContributionCalendar-day {
  margin: 0.5px;
}
.float-right {
  font-size: 12px;
}
.ContributionCalendar-day[data-level="0"] {
  fill: #ebedf0;
  shape-rendering: geometricPrecision;
  outline: 1px solid rgba(27, 31, 35, 0.06);
  outline-offset: -1px;
}
.ContributionCalendar-day[data-level="1"] {
  fill: #40c463;
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
.ContributionCalendar-day[data-level="2"] {
  fill: #40c463;
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
.ContributionCalendar-day[data-level="3"] {
  fill: #30a14e;
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
.ContributionCalendar-day[data-level="4"] {
  fill: #216e39;
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
