.footer {
  display: flex;
  padding: 40px 10px 30px 10px;

  border-top: 0.5px solid #d2d3d5;
}
.copyright {
  width: 14%;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  width: 63%;
}
.footer {
  gap: 8px;
}
li {
  gap: 8px;
  list-style: none;
}
a,
span {
  font-size: 12px;
  text-decoration: none;
}
span {
  padding-left: 4%;
  color: rgb(190, 190, 190);
}
img {
  width: 8%;
  color: #57606a;
}
